{% comment %}
	if combine_pretext is false, the text before the first <h6> will be shown above all tabs, otherwise added to the first tab
{% endcomment %}
{% assign combine_pretext = false %}

{% assign description = tabbed-description | default: product.description %}
{% if description contains "<h6>" %}
	{% assign tab_heads = '' %}
	{% assign tab_texts = '' %}
	{% assign pretext = '' %}

	{% assign chunks = description | strip | split: "<h6>" %}
	{% for c in chunks %}
		{% if c contains "</h6>" %}
			{% assign chunk = c | split: "</h6>" %}
			{% assign tab_heads = tab_heads | append: ",," | append: chunk.first %}
			{% assign tab_texts = tab_texts | append: ",," %}
			{% if pretext != blank  and combine_pretext %}
				{% assign tab_texts = tab_texts | append: pretext | append: "<br>" %}
				{% assign pretext = '' %}
			{% endif %}
			{% assign tab_texts = tab_texts | append: chunk.last  %}
		{% elsif forloop.first %}
			{% assign pretext =  c %}
		{% endif %}
	{% endfor %}

	{% assign tab_heads = tab_heads | remove_first: ",," | split: ",," %}
	{% assign tab_texts = tab_texts | remove_first: ",," | split: ",," %}

	{% assign index =  1  %}
	<div>
      {% if pretext != blank and combine_pretext == false %}
      <span class=pretext>{{ pretext }}</span>
      {% endif %}
	  <ul class="mobile">
	    	{% for head in tab_heads %}
	    		<li><a href="#tabm-{{- index -}}">{{ head }}</a></li>
	  	 	{% assign index =  index | plus: 1  %}
	    	{% endfor %}
	    </ul>
	    {% assign index =  1  %}
		<div class="tab-desc">
	    {% for text in tab_texts %}
	    	<div id="tabm-{{- index -}}">{{ text }}</div>
	   	{% assign index =  index | plus: 1  %}
	    {% endfor %}
		</div>
	  	</div>

<script>
  document.addEventListener( 'DOMContentLoaded', function () {
    $('ul.mobile').each(function(){
      var active, content, links = $(this).find('a');
      active = links.first().addClass('active');
      content = $(active.attr('href'));
      links.not(':first').each(function () {
        $($(this).attr('href')).hide();
      });
      $(this).find('a').click(function(e){
        active.removeClass('active');
        content.hide();
        active = $(this);
        content = $($(this).attr('href'));
        active.addClass('active');
        content.show();
        return false;
      });
    });
  }, false );
</script>
<style>
  .tab-desc > div {
  	display: none;
  }
  .tab-desc > div:first-child {
  	display: block;
  }

  ul.mobile {
  border-bottom: 1px solid #DDDDDD;
  display: block;
  margin: 0 0 20px;
  padding: 0;
}
ul.mobile li {
  display: block;
  float: left;
  height: 30px;
  margin-bottom: 0;
  padding: 0;
  width: auto;
}

ul.mobile li a {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 #F5F5F5;
  border-color: #DDDDDD !important;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  display: block;
  font-size: 13px;
  height: 29px;
  line-height: 30px;
  margin: 0;
  padding: 0 20px;
  text-decoration: none;
  width: auto;
  color: #303030;
  border-bottom:none !important;
}
ul.mobile li a.active {
  background: none repeat scroll 0 0 #FFFFFF;
  border-left-width: 1px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  color: #111111;
  height: 30px;
  margin: 0 0 0 -1px;
  padding-top: 4px;
  position: relative;
  top: -4px;
}
ul.mobile li:first-child a.active {
  margin-left: 0;
}
ul.mobile li:first-child a {
  border-top-left-radius: 2px;
  border-width: 1px 1px 0;
}
ul.mobile li:last-child a {
  border-top-right-radius: 2px;
}
ul.mobile:before, ul.mobile:after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}
ul.mobile:after {
  clear: both;
}
#prod-description ul.mobile li a {
    border-style: solid;
    border-width: 0;
    display: block;
    font-size: 13px;
    height: 29px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: auto;
    border-bottom: none !important;
    font-family: proxima-nova, sans-serif;
	font-weight: 400;
    font-size: 12px;
    color: #2E2E2E;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    background: none;
    border: none;
}
#prod-description ul.mobile li:nth-child(2) a {
	margin: 0 20px;
}
#prod-description ul.mobile {
    border: none;
    display: block;
    margin: 0 0 20px;
    padding: 0;
}
#prod-description ul.mobile li {
    display: block;
    float: left;
    height: 30px;
    margin-bottom: 0;
    padding: 0;
    width: auto;
}
#prod-description ul.mobile li a.active {

    top: 0;
    border-bottom: 1px solid #4B4B4B !important;
}
#prod-description p {
	font-family: proxima-nova, sans-serif;
	font-size: 14.5px;
	color: #424242;
	letter-spacing: 0;
	line-height: 21px;
	font-weight: 400;
}
</style>

{% else %}
	{{ description }}
{% endif %}
