<!doctype html>
  <head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{ page_description | escape }}">
    <link rel="canonical" href="{{ canonical_url }}">
	  <link rel="stylesheet" href="https://use.typekit.net/dfa8hcc.css">
	  <link href="https://fonts.googleapis.com/css?family=Homemade+Apple&display=swap" rel="stylesheet">
	  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.9.0/css/all.css" integrity="sha384-vlOMx0hKjUCl4WzuhIhSNZSm2yQCaf0mOU1hEDK/iztH3gU4v5NMmJln9273A6Jz" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url' }}" />
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">


    <!-- Header hook for plugins -->
    {{ content_for_header }}

    <!-- CSS and Jquery assets -->
    {{ 'foundation.css' | asset_url | stylesheet_tag }}
    {{ 'app.css' | asset_url | stylesheet_tag }}
    {% if template == 'product' or template == 'product.poc' or template == 'product.giftcard' %}{{ 'product.css' | asset_url | stylesheet_tag }}{% endif %}
    {{ 'fullpage.min.css' | asset_url | stylesheet_tag }}
    {{ 'filter.css' | asset_url | stylesheet_tag }}
	  {{ 'nicole.css' | asset_url | stylesheet_tag }}
    {{ 'jquery.js' | asset_url | script_tag }}


	<style>
		.search-bar {
			height: 70px;
			width: 100%;
			z-index: 1029;
			text-align: center;
			background: #F8F8F8;
			display: none;
			overflow: hidden
		}
		#search-wrapper .search--wrapper-overlay {
			display: none
		}
		body.search-opened {
			padding-top: 70px
		}


	</style>

  </head>
  <body data-hijacking="on" data-animation="parallax" class="{% if template == 'index' or page.handle == 'contact' or page.handle == 'montecristi' or page.handle == 'under-my-hat-about' or page.handle == 'custom' or blog.handle == 'creations' or blog.handle == 'collaborations' or page.handle == 'icon-the-chef-antoni' or page.handle == 'icon-many-i-am-sophie' or page.handle == 'icon-dean' or page.handle == 'icon-when-the-wind-blows-sophie' or page.handle == 'icon-molly' or page.handle == 'icon-the-jam' or page.handle == 'icon-daniel' or page.handle == 'icon-maya' or page.handle == 'icon-gabe'%}transparent-drop light-drop{% else %}dark-drop{% endif %}">

    <!-- Header - Use class "absolute" to make the header overlap the content at top of page -->
    <header class="{% if template == 'index' or page.handle == 'contact' or page.handle == 'montecristi' or page.handle == 'custom' or blog.handle == 'creations' or blog.handle == 'collaborations' or page.handle == 'icon-the-chef-antoni' or page.handle == 'icon-many-i-am-sophie' or page.handle == 'icon-dean' or page.handle == 'icon-when-the-wind-blows-sophie' or page.handle == 'icon-molly' or page.handle == 'icon-the-jam' or page.handle == 'icon-daniel' or page.handle == 'icon-maya' or page.handle == 'icon-gabe' or page.handle == 'under-my-hat-about'%}transparent light{% else %}dark{% endif %} desktop scrollhide-nav" id="navbar">

      <!-- This is the searh bar which is initialy off screen
           but activated when the search icon is clicked or tapped
      -->
      <div class="search-bar" id="searchBbar">
        <div class="grid-container full">
          <div class="grid-x grid-padding-x align-center">
            <div class="large-12 cell text-center">
              <form class="search" action="/search">
  			        <input type="hidden" name="type" value="product">
                <input type="text" name="q" placeholder="What are you looking for?" class="search-input" value="{{ search.terms | escape }}">
				<input type="hidden" name="type" value="product">
              </form>
            </div>
          </div>
        </div>
        <span class="search-close"><img src="{{ "x-close.png" | asset_url }}" /></span>
      </div>

      <!-- Announcement Bars -->
      {% if template == 'index' %}
      {% section 'announcements-home' %}
      {% elsif template == 'product' or template == 'collection' %}
      {% section 'announcements' %}
      {% else %}
      <div id="no-announcement"></div>
      {% endif %}

      <!-- Navigations -->
      {% include 'nav' %}


    </header>

    <!-- Begin the drop down menus -->
    {% include 'subnav' %}
	{% include 'subnav-mobile' %}

    <!-- Page content to begin here -->
    {{ content_for_layout }}
