<!-- Icon header video and/or image -->
<div class="grid-container">
	<div class="grid-x grid-padding-x align-middle section-space80">
		<div class="large-7 cell">
			<a href="{{ beaverfeltBannerLink }}" class="zoom" data-hover-id="bfb"><img src="{{ section.settings.beaverfeltBannerImgage | img_url: 'master' }}" alt="{{ section.settings.beaverfeltBannertitle }}"></a>
		</div>
		<div class="medium-5 cell">
			<div class="support-text">
				<h5>{{ section.settings.beaverfeltBannerSmalltitle }}</h5>
				<h3>{{ section.settings.beaverfeltBannertitle }}</h3>
				<div class="banner-text">{{ section.settings.beaverfeltBannerDescription }}</div>
				{% if section.settings.beaverfeltBannerLink %}<a href="{{ section.settings.beaverfeltBannerLink }}" class="cta dark link-activate" data-hover-id="bfb">{{ section.settings.beaverfeltBannerLinkText }}</a>{%endif %}
			</div>
		</div>
    </div>
</div>
{% schema %}
  {
    "name": "Beaver Felt Banner",
    "settings": [
      {
        "id": "beaverfeltBannerImgage",
        "type": "image_picker",
        "label": "Banner Image - Size: 1400px x 1000px"
      },
      {
        "id": "beaverfeltBannerSmalltitle",
        "type": "text",
        "label": "Small Text above title"
      },
      {
        "id": "beaverfeltBannertitle",
        "type": "text",
        "label": "Title"
      },
      {
        "id": "beaverfeltBannerDescription",
        "type": "richtext",
        "label": "Description"
      },
      {
        "id": "beaverfeltBannerLink",
        "type": "text",
        "label": "Link"
      },
      {
        "id": "beaverfeltBannerLinkText",
        "type": "text",
        "label": "Link Text"
      }
    ]
  }
{% endschema %}
