<!-- Icon header video and/or image -->
<div class="grid-container">
	<div class="grid-x grid-padding-x align-middle section-space80">
		<div class="medium-5 cell small-order-2 medium-order-1">
			<div class="support-text">
				<h5>{{ section.settings.beaverfeltBannerSmalltitleR }}</h5>
				<h3>{{ section.settings.beaverfeltBannertitleR }}</h3>
				<div class="banner-text">
					{{ section.settings.beaverfeltBannerDescriptionR }}
				</div>
				{% if section.settings.beaverfeltBannersLinkR %}<a href="{{ section.settings.beaverfeltBannersLinkR }}" class="cta dark link-activate" data-hover-id="bfbR">{{ section.settings.beaverfeltBannerLinkTextR }}</a>{%endif %}
			</div>
		</div>
		<div class="large-7 cell small-order-1 medium-order-2">
			<a href="{{ beaverfeltBannersLinkR }}" class="zoom" data-hover-id="bfbR"><img src="{{ section.settings.beaverfeltBannerImgageR | img_url: 'master' }}"></a>
		</div>
    </div>
</div>
{% schema %}
  {
    "name": "Beaver Felt Banner",
    "settings": [
      {
        "id": "beaverfeltBannerImgageR",
        "type": "image_picker",
        "label": "Banner Image - Size: 1400px x 1000px"
      },
      {
        "id": "beaverfeltBannerSmalltitleR",
        "type": "text",
        "label": "Small Text above title"
      },
      {
        "id": "beaverfeltBannertitleR",
        "type": "text",
        "label": "Title"
      },
      {
        "id": "beaverfeltBannerDescriptionR",
        "type": "richtext",
        "label": "Description"
      },
      {
        "id": "beaverfeltBannersLinkR",
        "type": "text",
        "label": "Link"
      },
      {
        "id": "beaverfeltBannerLinkTextR",
        "type": "text",
        "label": "Link Text"
      }
    ]
  }
{% endschema %}
