<!-- Additional Assistance for Hat Repair -->
<section class="more-repair-info relative">
  <div class="grid-x">
    <div class="cell text-center">
      <img src="{{ 'hat-icon.png' | asset_url }}" alt="" style="width: 72px;" />
      <h3>{{ section.settings.title }}</h3>
      <a class="button" href="{{ section.settings.buttonURL }}">{{ section.settings.buttonText }}</a>
    </div>
  </div>
  <div class="assistance-callout">
    <h4 class="small-body-title">{{ section.settings.assistanceTitle }}</h2>
    <div class="support">{{ section.settings.assistanceText }}</div>
  </div>
</section>

{% schema %}
  {
    "name": "Additional Assistance",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "Title"
      },
      {
        "id": "buttonText",
        "type": "text",
        "label": "Button Text"
      },
      {
        "id": "buttonURL",
        "type": "text",
        "label": "Button URL"
      },
      {
        "id": "assistanceTitle",
        "type": "text",
        "label": "Assistance Title"
      },
      {
        "id": "assistanceText",
        "type": "richtext",
        "label": "Assistance Text"
      }
    ]
  }
{% endschema %}
