<!-- Culture -->
<section class="home-culture section-space50 mobile-nospace"> 
	<!-- Culture headline -->
	<div class="grid-container section-space30">
		<div class="grid-x grid-padding-x">
			<div class="medium-12 cell text-center">
				<blockquote>{{ section.settings.cultureQuote }}</blockquote>
			</div>
		</div>
	</div>
	<!-- Culture examples -->
	<div class="grid-container">
		<div class="grid-x grid-padding-x">
			<h3 class="medium-12 cell">{{ section.settings.cultureTitle }}</h3>
			<div class="medium-6 cell">
				<a href="{{ section.settings.photoLeftURL }}" class="zoom" data-hover-id="cultureLeft"><img src="{{ section.settings.photoLeft | img_url: '900x900' }}" alt="{{ section.settings.photoLeftTitle }}" /></a>
				<h4><a href="{{ section.settings.photoLeftURL }}" class="link-activate" data-hover-id="cultureLeft">{{ section.settings.photoLeftTitle }}</a></h4>
				<p class="home-orlando-type"><a href="{{ section.settings.photoLeftTypeLink }}">{{ section.settings.photoLeftType }}</a></p>
			</div>
			<div class="medium-6 cell">
				<a href="{{ section.settings.photoRightURL }}" class="zoom" data-hover-id="cultureRight"><img src="{{ section.settings.photoRight | img_url: '900x900' }}" alt="{{ section.settings.photoRightTitle }}" /></a>
				<h4><a href="{{ section.settings.photoRightURL }}" class="link-activate" data-hover-id="cultureRight">{{ section.settings.photoRightTitle }}</a></h4>
				<p  class="home-orlando-type"><a href="{{ section.settings.photoRightTypeLink }}">{{ section.settings.photoRightType }}</a></p>
			</div>
		</div>
	</div>
</section>

{% schema %}
  {
    "name": "Culture",
    "settings": [
      {
        "id": "cultureQuote",
        "type": "text",
        "label": "Quote"
      },
      {
        "id": "cultureTitle",
        "type": "text",
        "label": "Title"
      },
      {
         "type": "article",
         "id": "featured_article1",
         "label": "Left Article"
      },
      {
        "id": "photoLeft",
        "type": "image_picker",
        "label": "Photo Left (1106x784)"
      },
      {
        "id": "photoLeftTitle",
        "type": "text",
        "label": "Photo Left Title"
      },
      {
        "id": "photoLeftURL",
        "type": "text",
        "label": "Photo Left URL"
      },
      {
        "id": "photoLeftType",
        "type": "text",
        "label": "Photo Left Type"
      },
      {
        "id": "photoLeftTypeLink",
        "type": "text",
        "label": "Photo Left Type Link"
      },
      {
         "type": "page",
         "id": "featured_article2",
         "label": "Right Article"
      },
      {
        "id": "photoRight",
        "type": "image_picker",
        "label": "Photo Right (1106x784)"
      },
      {
        "id": "photoRightTitle",
        "type": "text",
        "label": "Photo Right Title"
      },
      {
        "id": "photoRightURL",
        "type": "text",
        "label": "Photo Right URL"
      },
      {
        "id": "photoRightType",
        "type": "text",
        "label": "Photo Right Type"
      },
      {
        "id": "photoRightTypeLink",
        "type": "text",
        "label": "Photo Right Type Link"
      }
    ]
  }
{% endschema %}
