<div class="header-spacer"></div>

<!-- Featured Icon -->
<section class="icons-featured">
  <div class="grid-container">
    <div class="grid-x grid-padding-x align-center">
      <div class="large-3 cell">
        <h2>The collection</h2>
        <h1>Gabe</h1>
        <p>The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs.</p>
        <a class="button" href="">Go to profile</a>
        <a class="watch" href="">Launch Playlist</a>
      </div>
      <div class="large-9 cell relative icon-feature-movielaunch">
        <img src="http://gooseworksdev.com/hs/sample/icon1.png" />
        <span>Watch Movie</span>
      </div>
    </div>
  </div>
</section>

<!-- List of icons -->
<section class="icons-list">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">

      <!-- Icons list item -->
      <div class="large-6 cell icons-list-item">
        <img src="http://gooseworksdev.com/hs/sample/icon2.png" />
        <div class="grid-x grid-padding-x">
          <div class="large-6 cell">
            <h1>Daniel <span>Small Doses</span></h1>
            <a href="">Go to profile</a>
          </div>
          <div class="large-6 cell text-right">
            <a href="">{{ 'watch.png' | asset_url | img_tag: 'Watch' }} Watch</a>
            <a href="">{{ 'spotify.png' | asset_url | img_tag: 'Spotify' }} Listen</a>
          </div>
        </div>
      </div>

      <!-- Icons list item -->
      <div class="large-6 cell icons-list-item">
        <img src="http://gooseworksdev.com/hs/sample/icon2.png" />
        <div class="grid-x grid-padding-x">
          <div class="large-6 cell">
            <h1>Daniel <span>Small Doses</span></h1>
            <a href="">Go to profile</a>
          </div>
          <div class="large-6 cell text-right">
            <a href="">{{ 'watch.png' | asset_url | img_tag: 'Watch' }} Watch</a>
            <a href="">{{ 'spotify.png' | asset_url | img_tag: 'Spotify' }} Listen</a>
          </div>
        </div>
      </div>

      <!-- Icons list item -->
      <div class="large-6 cell icons-list-item">
        <img src="http://gooseworksdev.com/hs/sample/icon2.png" />
        <div class="grid-x grid-padding-x">
          <div class="large-6 cell">
            <h1>Daniel <span>Small Doses</span></h1>
            <a href="">Go to profile</a>
          </div>
          <div class="large-6 cell text-right">
            <a href="">{{ 'watch.png' | asset_url | img_tag: 'Watch' }} Watch</a>
            <a href="">{{ 'spotify.png' | asset_url | img_tag: 'Spotify' }} Listen</a>
          </div>
        </div>
      </div>

      <!-- Icons list item -->
      <div class="large-6 cell icons-list-item">
        <img src="http://gooseworksdev.com/hs/sample/icon2.png" />
        <div class="grid-x grid-padding-x">
          <div class="large-6 cell">
            <h1>Daniel <span>Small Doses</span></h1>
            <a href="">Go to profile</a>
          </div>
          <div class="large-6 cell text-right">
            <a href="">{{ 'watch.png' | asset_url | img_tag: 'Watch' }} Watch</a>
            <a href="">{{ 'spotify.png' | asset_url | img_tag: 'Spotify' }} Listen</a>
          </div>
        </div>
      </div>

      <!-- Icons list item -->
      <div class="large-6 cell icons-list-item">
        <img src="http://gooseworksdev.com/hs/sample/icon2.png" />
        <div class="grid-x grid-padding-x">
          <div class="large-6 cell">
            <h1>Daniel <span>Small Doses</span></h1>
            <a href="">Go to profile</a>
          </div>
          <div class="large-6 cell text-right">
            <a href="">{{ 'watch.png' | asset_url | img_tag: 'Watch' }} Watch</a>
            <a href="">{{ 'spotify.png' | asset_url | img_tag: 'Spotify' }} Listen</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
