<div class="header-spacer"></div>

<!-- Featured Icon -->
<section class="icons-featured">
  <div class="grid-container">
    <div class="grid-x grid-padding-x align-center align-middle">
      <div class="medium-3 cell small-order-2 medium-order-12">
	  	<h1><a href="/pages/icon-gabe" class="link-activate" data-hover-id="gabe">Gabe</a></h1>
		<h5 class="small-body-title">The Californian</h5>
        <p>He doesn't say much<br/>
        But he's a real nice guy<br/>
        We met at the beach <br/>
        He was waxing his board at the point</p>
        <a class="button link-activate" href="/pages/icon-gabe" data-hover-id="gabe">Go to profile</a><br />
        <a href="/pages/icon-gabe#watch"  class="watch"><i class="fal fa-play"></i>Watch</a>
		<br />
        <a href="/pages/icon-gabe#playlist"  class="watch"><i class="fab fa-spotify"></i>Launch Playlist</a>
      </div>
      <div class="medium-9 cell relative icon-feature-movielaunch small-order-1 medium-order-2">
	  	<a href="/pages/icon-gabe" class="zoom" data-hover-id="gabe">{{ 'gabe.jpg' | asset_url | img_tag: 'Gabe' }}</a>
      </div>
    </div>
  </div>
</section>

<!-- List of icons -->
<section class="icons-list">
	<div class="grid-container">
		<div class="grid-x grid-padding-x">

      		<!-- Icons list item -->
	  		<div class="medium-6 cell">
	  			<div class="icons-list-item left">
	  				<a href="/pages/icon-daniel" class="zoom" data-hover-id="daniel"><img src="{{ 'WorthWorth_Daniel_LandingImage.jpg' | asset_url }}" class="icons-list-image" alt="Daniel"/></a>
	  				<div class="grid-x grid-padding-x">
	  					<div class="medium-7 cell">
	  						<h3><a href="/pages/icon-daniel" class="link-activate" data-hover-id="daniel">Daniel <span>Small Doses</span></a></h3>
	  					</div>
	  					<div class="medium-5 cell text-right">
	  						<a href="/pages/icon-daniel#watch"  class="listen"><i class="fal fa-play"></i>Watch</a>
	  						<a href="/pages/icon-daniel#playlist"  class="listen"><i class="fab fa-spotify"></i>Listen<span class="visually-hidden">&nbsp;to Small Doses Playlist</span></a>
	  					</div>
	  				</div>
	  			</div>
	  		</div>

			<!-- Icons list item -->
			<div class="medium-6 cell">
				<div class="icons-list-item right">
					<a href="/pages/icon-maya" class="zoom" data-hover-id="maya"><img src="{{ 'IMG_5137_LANDING_IMAGE.jpg' | asset_url }}" class="icons-list-image" alt="Maya"/></a>
					<div class="grid-x grid-padding-x">
						<div class="medium-7 cell">
							<h3><a href="/pages/icon-maya" class="link-activate" data-hover-id="maya">Alone Together: Maya</a></h3>
						</div>
						<div class="medium-5 cell text-right">
							<a href="/pages/icon-maya#watch"  class="listen"><i class="fal fa-play"></i>Watch</a>
							<a href="/pages/icon-maya#playlist"  class="listen"><i class="fab fa-spotify"></i>Listen<span class="visually-hidden">&nbsp;to Alone Together: Maya Playlist</span></a>
						</div>
					</div>
				</div>
			</div>

      		<!-- Icons list item -->
	  		<div class="medium-6 cell">
	  			<div class="icons-list-item left">
	  				<a href="/pages/icon-the-jam" class="zoom" data-hover-id="band"><img src="{{ 'jam_landing.jpg' | asset_url }}" class="icons-list-image" alt="The Band: The Jam"/></a>
	  				<div class="grid-x grid-padding-x">
	  					<div class="medium-7 cell">
	  						<h3><a href="/pages/icon-the-jam" class="link-activate" data-hover-id="band">The Band: The Jam</a></h3>
	  					</div>
	  					<div class="medium-5 cell text-right">
	  						<a href="/pages/icon-the-jam#watch"  class="listen"><i class="fal fa-play"></i>Watch</a>
	  						<a href="/pages/icon-the-jam#playlist"  class="listen"><i class="fab fa-spotify"></i>Listen<span class="visually-hidden">&nbsp;to The Band: The Jam Playlist</span></a>
	  					</div>
	  				</div>
	  			</div>
	  		</div>

      		<!-- Icons list item -->
	  		<div class="medium-6 cell">
	  			<div class="icons-list-item right">
	  				<a href="/pages/icon-molly" class="zoom" data-hover-id="molly"><img src="{{ 'molly-icon.jpg' | asset_url }}" class="icons-list-image" alt="Dust Never Settles: Molly"/></a>
	  				<div class="grid-x grid-padding-x">
	  					<div class="medium-7 cell">
	  						<h3><a href="/pages/icon-molly" class="link-activate" data-hover-id="molly">Dust Never Settles: Molly</a></h3>
	  					</div>
	  					<div class="medium-5 cell text-right">
	  						<a href="/pages/icon-molly#watch"  class="listen"><i class="fal fa-play"></i>Watch</a>
	  						<a href="/pages/icon-molly#playlist"  class="listen"><i class="fab fa-spotify"></i>Listen<span class="visually-hidden">&nbsp;to Dust Never Settles: Molly Playlist</span></a>
	  					</div>
	  				</div>
	  			</div>
	  		</div>
	  		<!-- Icons list item -->
	  		<div class="medium-6 cell">
	  			<div class="icons-list-item left">
	  				<a href="/pages/icon-dean" class="zoom" data-hover-id="dean"><img src="{{ '1L8C7115_landing_image.jpg' | asset_url }}" class="icons-list-image" alt="The Tailored Skater: Dean"/></a>
	  				<div class="grid-x grid-padding-x">
	  					<div class="medium-7 cell">
	  						<h3><a href="/pages/icon-dean" class="link-activate" data-hover-id="dean">The Tailored Skater: Dean</a></h3>
	  					</div>
	  					<div class="medium-5 cell text-right">
	  						<a href="/pages/icon-dean#watch"  class="listen"><i class="fal fa-play"></i>Watch</a>
	  						<a href="/pages/icon-dean#playlist"  class="listen"><i class="fab fa-spotify"></i>Listen<span class="visually-hidden">&nbsp;to The Tailored Skater: Dean Playlist</span></a>
	  					</div>
	  				</div>
	  			</div>
	  		</div>

      		<!-- Icons list item -->
	  		<div class="medium-6 cell">
	  			<div class="icons-list-item right">
	  				<a href="/pages/icon-when-the-wind-blows-sophie" class="zoom" data-hover-id="sophie1"><img src="{{ 'landing_image_IMG_9631.jpg' | asset_url }}" class="icons-list-image" alt="When the Wind Blows: Sophie"/></a>
	  				<div class="grid-x grid-padding-x">
	  					<div class="medium-7 cell">
	  						<h3><a href="/pages/icon-when-the-wind-blows-sophie" class="link-activate" data-hover-id="sophie1">When The Wind Blows: Sophie</a></h3>
	  					</div>
	  					<div class="medium-5 cell text-right">
	  						<a href="/pages/icon-when-the-wind-blows-sophie#watch"  class="listen"><i class="fal fa-play"></i>Watch</a>
	  						<a href="/pages/icon-when-the-wind-blows-sophie#playlist"  class="listen"><i class="fab fa-spotify"></i>Listen<span class="visually-hidden">&nbsp;to When The Wind Blows: Sophie Playlist</span></a>
	  					</div>
	  				</div>
	  			</div>
	  		</div>
	  		<!-- Icons list item -->
	  		<div class="medium-6 cell">
	  			<div class="icons-list-item left">
	  				<a href="/pages/icon-many-i-am-sophie" class="zoom" data-hover-id="sophie2"><img src="{{ 'icons_sophie_main2.jpg' | asset_url }}" class="icons-list-image" alt="Sophie"/></a>
	  				<div class="grid-x grid-padding-x">
	  					<div class="medium-7 cell">
	  						<h3><a href="/pages/icon-many-i-am-sophie" class="link-activate" data-hover-id="sophie2">Many I Am: Sophie</a></h3>
	  					</div>
	  					<div class="medium-5 cell text-right">
	  						<a href="/pages/icon-many-i-am-sophie#watch"  class="listen"><i class="fal fa-play"></i>Watch</a>
	  						<a href="/pages/icon-many-i-am-sophie#playlist"  class="listen"><i class="fab fa-spotify"></i>Listen<span class="visually-hidden">&nbsp;to Many I Am: Sophie Playlist</span></a>
	  					</div>
	  				</div>
	  			</div>
	  		</div>

      		<!-- Icons list item -->
	  		<div class="medium-6 cell">
	  			<div class="icons-list-item right">
	  				<a href="/pages/icon-the-chef-antoni" class="zoom" data-hover-id="antoni"><img src="{{ 'antony_pan.jpg' | asset_url }}" class="icons-list-image" alt="Antony"/></a>
	  				<div class="grid-x grid-padding-x">
	  					<div class="medium-7 cell">
	  						<h3><a href="/pages/icon-the-chef-antoni" class="link-activate" data-hover-id="antoni">The Chef: Antony</a></h3>
	  					</div>
	  					<div class="medium-5 cell text-right">
	  						<a href="/pages/icon-the-chef-antoni#watch"  class="listen"><i class="fal fa-play"></i>Watch</a>
	  						<a href="/pages/icon-the-chef-antoni#playlist"  class="listen"><i class="fab fa-spotify"></i>Listen<span class="visually-hidden">&nbsp;to The Chef: Antony Playlist</span></a>
	  					</div>
	  				</div>
	  			</div>
	  		</div>

    </div>
  </div>
</section>
